*{
	box-sizing:border-box;
	padding:0px;
	margin:0px;
}

body{
	line-height:25px;
	padding:0px 100px;
}


div{
	height: 300px;
	width:300px;
	box-shadow: 10px 10px;
	background-color:red;
}



/* /* 


.div-1 {
	padding: 20px 10px;
	width:80%;
	margin:auto;
	margin-top:100px;
	border:1px solid black;
}


.div-2 {
	background-color:#f0f0f0;
}

.div-3 {
	padding: 20px 10px;
	width:80%;
	margin:auto;
	margin-top:100px;
	border:1px solid black;
}

/* 
//                 Descendent

p{
	font-weight:bold;
	font-size:30px;
	
}

.div-1 p {
	font-weight:normal;
	font-size:16px;
}


.div-1 a {
	background-color:red;
	color:#fff;
	padding:5px;
}


.div-1 p a {
	background-color:yellow;
	color:#000;
	padding:5px;
}
 */
 
 
/* 
//                 Child

.div-1 > p {
	background-color:red;
	color:#fff;
	padding:10px;
	margin: 10px 0px;
	border:1px #fff;
}



.div-1 + p {
	background-color:red;
	color:#fff;
	padding:10px;
	margin: 10px 0px;
	border:1px #fff;
}

.div-1 ~ p {
	background-color:red;
	color:#fff;
	padding:10px;
	margin: 10px 0px;
	border:1px #fff;
}



div :nth-child(5){
	background-color:red;
}


p:hover{
	background-color:red;
}

input:focus	{
	background-color:yellow;
}

p:before{
	content: ">>";
}
p:first-letter{
		background-color:tomato;
}
p::first-line {
  color: blue;
  text-transform: uppercase;
}

 */